openapi: 3.0.1
info:
  title: Otreeba Seed API
  description: '

    Open Cannabis Data for Your Technology Otreeba comes from the word

    "abierto" which means "open." We offer standardized cannabis data and

    normalization for cannabis seed companies, strains, brands, products,

    batches, retailers, and studies through a REST API.'
  termsOfService: https://otreeba.com/terms/
  contact:
    email: api@otreeba.com
  license:
    name: Attribution 4.0 International (CC BY 4.0)
    url: https://creativecommons.org/licenses/by/4.0/
  version: 1.0.0
servers:
- url: https://api.otreeba.com/v1
security:
- api_key: []
tags:
- name: Seed
paths:
  /seed-companies:
    get:
      tags:
      - Seed
      summary: Get a list of all current seed companies.
      description: Returns a paginated list of seed companies.
      operationId: getSeedCompanies
      parameters:
      - name: page
        in: query
        description: Page to be returned.
        schema:
          type: integer
      - name: count
        in: query
        description: The number of items to return. Default 10. Max 50.
        schema:
          type: integer
          default: 10
      - name: sort
        in: query
        description: How to sort the items.
        schema:
          type: string
          default: -createdAt
          enum:
          - -createdAt
          - createdAt
          - -updatedAt
          - updatedAt
          - -name
          - name
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Gets the current list of Seed Comapnies.
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          description: Invalid OCPC supplied.
          content: {}
        '401':
          description: Unauthorized action.
          content: {}
        '404':
          description: Seed company not found.
          content: {}
  /seed-companies/{ocpc}:
    get:
      tags:
      - Seed
      summary: Find seed company by Open Cannabis Product Code (OCPC).
      description: Returns a single seed company.
      operationId: getSeedCompanyByOcpc
      parameters:
      - name: ocpc
        in: path
        description: OCPC of the seed company to return.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedCompany'
        '400':
          description: Invalid OCPC supplied.
          content: {}
        '401':
          description: Unauthorized action.
          content: {}
        '404':
          description: Seed company not found.
          content: {}
  /seed-companies/{ocpc}/strains:
    get:
      tags:
      - Seed
      summary: Find strains for a seed company by Open Cannabis Product Code (OCPC).
      description: Returns a paginated list of strains for a single seed company.
      operationId: getSeedCompanyStrainsByOcpc
      parameters:
      - name: ocpc
        in: path
        description: OCPC of the seed company to return strains for.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page to be returned.
        schema:
          type: integer
      - name: count
        in: query
        description: The number of items to return. Default 10. Max 50.
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Gets the Strains for a Seed Company listing from a given OCPC.
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                    description: Gets the Strains for a Seed Company listing from a given OCPC.
        '400':
          description: Invalid OCPC supplied.
          content: {}
        '401':
          description: Unauthorized action.
          content: {}
        '404':
          description: Seed company not found.
          content: {}
components:
  schemas:
    SeedCompany:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of the seed company.
          example: Sensi Seeds
        ocpc:
          type: string
          description: Open Cannabis Product Code for the seed company.
          example: VUJCJ00000000000000000000
        description:
          type: string
          description: Description of the seed company.
        qr:
          type: string
          description: URL for QR that leads to page on Cannabis Reports.
          example: https://www.cannabisreports.com/strain-reports/sensi-seeds/qr-code.svg
        url:
          type: string
          description: URL for seed company on Cannabis Reports.
          example: https://www.cannabisreports.com/strain-reports/sensi-seeds
        image:
          type: string
          description: URL for logo for seed company.
          example: https://www.cannabisreports.com/images/profile/1/full_15fda07a135540c1de6afbb38dafe2113a11a7a4.jpg
        lineage:
          type: object
          properties: {}
          description: Object of countries that this seed company has lineages from. {'Country Name' => 'ISO 3166-1 Two Letter Country Code'}
          example:
            Afghanistan: AF
            Canada: CA
            Colombia: CO
            Hungary: HU
            India: IN
        strains:
          type: array
          description: OCPCs of the strains from this seed company.
          items:
            type: string
        createdAt:
          type: string
          description: Date and time record was created, UTC.
          format: date-time
        updatedAt:
          type: string
          description: Date and time record was updated, UTC.
          format: date-time
      xml:
        name: Seed Company
    Meta:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
      xml:
        name: Meta
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total number of results available.
          example: 64
        count:
          type: integer
          description: Number of results to return. Default 10. Max 50.
          example: 10
        per_page:
          type: integer
          description: Number of results per page.
          example: 10
        current_page:
          type: integer
          description: Page of results.
          example: 1
        total_pages:
          type: integer
          description: Total number of pages of results.
          example: 1
        links:
          type: object
          properties: {}
          description: Links to the previous and/or next pages of results.
          example:
            previous: https://api.otreeba.com/v1/seed-companies/VUJCJ00000000000000000000/strains?page=1
            next: https://api.otreeba.com/v1/seed-companies/VUJCJ00000000000000000000/strains?page=3
      xml:
        name: Pagination
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-Key
      in: header
externalDocs:
  description: Find out more about Otreeba
  url: https://otreeba.com
x-original-swagger-version: '2.0'
